/*Style de l'introduction de FluffSync */

.fluffsync-intro {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 3rem;
  padding: 0 1rem;
}

.fluffsync-intro h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-family: "Pacifico", cursive;
  color: #444;
}

.fluffsync-intro p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
}

/*Style de la section qui explique comment StratusMatch fonctionne*/
.steps-section {
  background-color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
}

.steps-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #444;
}

.steps-grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  /*---Pour faire en sorte que la div parent puissent se redimensionner sans avoir à déborder*/
  flex-wrap: wrap;
}

.step-card {
  background: #f9fafe;
  border: 1px solid #e0e6f0;
  border-radius: 1.5rem;
  padding: 2rem;
  max-width: 280px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s ease;
}

.step-card:hover {
  transform: translateY(-0.5rem);
}

.step-number {
  font-size: 2rem;
  font-weight: bold;
  color: #aac4f6;
  margin-bottom: 1rem;
}

.step-card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.step-card p {
  font-size: 1rem;
  color: #666;
}

/*Style de la section qui explique pourquoi StratusMatch est utile*/

.why-stratusmatch {
  background-color: #fffdf9;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.why-stratusmatch h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 2rem;
  color: #444;
}

/*Permet de retirer les puces de la liste*/
.why-stratusmatch ul {
  list-style-type: none;
  padding: 0;
}

.why-stratusmatch li {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
  padding-left: 1.5rem;
  position: relative;
  color: #555;
}

/*Style pour ajouter les nuages en remplacement des puces*/
.why-stratusmatch li::before {
  content: "☁️";
  position: absolute;
  left: 0;
  top: 0;
}
