/* Style global pour toutes les pages */

body {
  margin: 0;
  padding: 0;
  font-family: "quicksand", sans-serif;
}

/* Style global pour les pages secondaire */

body.secondary {
  background-image: none;
  background-color: #fef8f0;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Style pour la barre de navigation */

.site-header {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* --- Retiens le style du logo */
.site-header h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin: 0;
}

/* --- Bouge les liens sur la navbar vers la gauche */
.site-nav {
  transform: translateX(-7rem);
}

nav a {
  /* ----Necessaire pour l'animation des liens */
  display: inline-block;
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
  font-weight: 800;
  /* Change la vitesse du changement de la couleur au survol des liens sur la navbar et la mise en valeur de celle-ci*/
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover,
nav a.active {
  color: #0077cc;
}

nav a:hover {
  transform: translateY(-3px);
}

/* Style du bouton principal à utiliser sur le site */

.btn {
  padding: 0.8rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-decoration: none;
  font-weight: 800;
  border-radius: 1.1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(-3px);
}

/*Animation, part de la position 0, jusque plus loin que l'écran pour faire disparaitre les nuages*/
@keyframes floatCloud {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110vw);
  }
}

/*Animation, Fait que le texte commence invisible, et monte progressivement pendant l'animation  */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
